body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    width: 80%; /* Adjust the width as needed */
}

input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
